<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!--
	 XML에서 주석 작성하는방법
 	 이 문서가 configuration(환경설정)임을 알려줌
 	 .dtd는 유효성 검사를 해줌
 	 ==> 최상위 부모요소가 configuration element
 -->
 <configuration>
 
 	<settings>
 		<setting name="mapUnderscoreToCamelCase" value="true"/>
 		<setting name="logImpl" value="STDOUT_LOGGING"/>
 	</settings>
 
 
 
 	<!-- typeAliases : VO / DTO클래스들의 풀클래스명을 별칭으로 등록 -->
 	<typeAliases>
 		<typeAlias type="com.kh.animal.model.dto.AnimalDto" alias="animal" />
		<typeAlias type="com.kh.animal.model.dto.KeeperDto" alias="keeper"/>
 	</typeAliases>
 
 <!-- 
 	environments : MyBatis에서 연동할DB의 정보들을 등록하는영역
 	각각의 DB정보는 enviroment태그를 이용해서 등록할수있음
 	=> 반드시! default속성을 이용해서 어떤 DBMS를 기본으로 쓸건지 지어해야함
  -->
 	<environments default="deployment">
 		<environment id="deployment">
 		<!--
 			*transactionManager :type이 필수 속성JDBC / MANAGED중 하나를 선택 
 			- JDBC : 트랙잭션을 개발자가 직접 관리하겠다(수동 commit)
 			- MANAGED : 트랜잭션에 대해서 개발자는 아무것도 안하겠다(자동 commit)
 		 -->
 			<transactionManager type="JDBC" />
 			<!-- 
 				dataSource의 type속성값은 POOLED / UNPOOLED 중 하나를 선택(ConnectionPool)
 				ConnectionPool : Connection객체를 담아두는 영역, 한번 생성된 객체를 재사용
 				
 				POOLED => 쓸래요
 				UNPOOLED =>안쓸래요
 				
 				DataSource객체의 필드에 값을 set하기 위해서 setter메소드를 호출해야 하는데,
 				XML파일에서는 setter메소드를 호출해서 값을 대입하기위해서 property라는 요소를 사용함
 				객체.setname속성값("value속성값");
 			 -->
 			<dataSource type="POOLED">
 						<property name ="driver" value="oracle.jdbc.driver.OracleDriver"/>
 						<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE"/>
 						<property name="username" value="C##MB"/>
 						<property name="password" value="MB"/>
 			</dataSource>
 		
 		</environment>	
 	</environments>
 
 	<!-- mappers : 실행할 SQL문을 기록해둔 mapper파일을 등록해둔영역 -->
 	<mappers>
 		<mapper resource="animal-mapper.xml" />
 		<mapper resource="keeper-mapper.xml" />
 	</mappers>
 
 
 
 
</configuration>